<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <!--PRO AZURE -->
    <add name="DB_DACSEntities"
         connectionString="metadata=res://*/DB_DACSModel.csdl|res://*/DB_DACSModel.ssdl|res://*/DB_DACSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:dacserver.database.windows.net,1433;initial catalog=DB_DACS_CORONA;Persist Security Info=False;User ID=dacuser;Password=d3@nd3s2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <!-- SQL SERVER ISERVER PRODUCCIÓN -->
    <!--<add name="DB_DACSEntities"
         connectionString="metadata=res://*/DB_DACSModel.csdl|res://*/DB_DACSModel.ssdl|res://*/DB_DACSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN2012REFAPI;initial catalog=DB_DACS;Persist Security Info=False;User ID=refapibd;Password=669Ref@apiBD_1server;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>

  <appSettings>
    <!--KEYS DACS-->
    <add key="ITRIS_API3_CONFIG" value="11" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ITRIS_TOKEN" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1NzY2MTQ0ODIsImV4cCI6MTU3OTIwNjQ4MiwiaXNzIjoiQ29tcGFcdTAwRjFcdTAwRURhIEdlbmVyYWwgZGUgU29mdHdhcmUgUy5SLkwuIiwic3ViIjoiSXRzQVBJIEF1dGggVG9rZW4iLCJhdWQiOiJ1c2VyIiwiYWlkIjoiMTIiLCJhaW8iOiIxMSIsImFpdSI6IjE3In0.oW3eEhilHK9pT7B9KUag3lzeBwBIDm3QFmo0JbFIooY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ITRIS_PUERTO" value="2266" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ITRIS_USER" value="REFRES_APP_USER1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ITRIS_USERS" value="REFRES_APP_USER1|REFRES_APP_USER2|REFRES_APP_USER3|REFRES_APP_USER4|REFRES_APP_USER5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ITRIS_PASS" value="r3fr3$@pP.@cc35" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ITRIS_DATABASE" value="REFRES" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--KEYS DACS-->
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
    <!--Configuración de log4net-->
    <log4net debug="true">
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender"
                xdt:Locator="Match(name)">
        <file type="log4net.Util.PatternString" value="${PUBLIC}/DACServices/Logs/Log.log" 
              xdt:Transform="Replace"/>
      </appender>
      <root>
        <level value="WARN" xdt:Transform="Replace"/>
      </root>
    </log4net>
</configuration>