<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--SQLEXPRESS LOCAL-->
    <add name="DB_DACSEntities" connectionString="metadata=res://*/DB_DACSModel.csdl|res://*/DB_DACSModel.ssdl|res://*/DB_DACSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLExpress;initial catalog=DB_DACS_CORONA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--SQLEXPRESS AZURE UNICA INSTANCIA-->
    <!--<add name="DB_DACSEntities" connectionString="metadata=res://*/DB_DACSModel.csdl|res://*/DB_DACSModel.ssdl|res://*/DB_DACSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:dacserver.database.windows.net,1433;initial catalog=DB_DACS_CORONA;Persist Security Info=False;User ID=dacuser;Password=d3@nd3s2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--KEYS DACS-->
    <add key="ITRIS_API3_APP" value="12"/>
    <add key="ITRIS_API3_CONFIG" value="10"/>
    <add key="ITRIS_API3_USER" value="SYNC"/>
    <add key="ITRIS_API3_PASS" value="1234"/>
    <add key="ITRIS_PUERTO_API3" value="5701"/>
    <add key="ITRIS_TOKEN" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1NzY2MTQzNjQsImV4cCI6MTU3OTIwNjM2NCwiaXNzIjoiQ29tcGFcdTAwRjFcdTAwRURhIEdlbmVyYWwgZGUgU29mdHdhcmUgUy5SLkwuIiwic3ViIjoiSXRzQVBJIEF1dGggVG9rZW4iLCJhdWQiOiJ1c2VyIiwiYWlkIjoiMTIiLCJhaW8iOiIxMCIsImFpdSI6IjE1In0.TnMoiiTvDzEDwUY3vvTqoz2Lx7El6_9CsNBMIgZnXt4"/>
    <add key="ITRIS_SERVER" value="iserver.itris.com.ar"/>
    <add key="ITRIS_PUERTO" value="2217"/>
    <add key="ITRIS_USER" value="lrodriguez"/>
    <add key="ITRIS_USERS" value="lrodriguez|_RBACHIECCA|_DGARRE|_ACUOMO|_RFUNARO|_CASTILLO2"/>
    <add key="ITRIS_PASS" value=""/>
    <add key="ITRIS_DATABASE" value="REFRES_POS"/>
    <add key="ITRIS_CLASE_TIPO_COMERCIO" value="_TIP_COM"/>
    <add key="ITRIS_CLASE_ERP_ASESORES" value="ERP_ASESORES"/>
    <add key="ITRIS_CLASE_ERP_EMPRESAS" value="ERP_EMPRESAS"/>
    <add key="ITRIS_CLASE_TIPO_ARTICULO" value="_TIP_ART"/>
    <add key="ITRIS_CLASE_ARTICULO" value="_ARTICULOS"/>
    <add key="ITRIS_CLASE_LOCALIDADES" value="ERP_LOCALIDADES"/>
    <add key="SINCRONIZAR_CON_ITRIS" value="true"/>
    <!--LAST SYNC-->
    <add key="LAST_SYNC_ASESORES" value="LAST_SYNC_ASESORES"/>
    <add key="LAST_SYNC_EMPRESAS" value="LAST_SYNC_EMPRESAS"/>
    <add key="LAST_SYNC_LOCALIDADES" value="LAST_SYNC_LOCALIDADES"/>
    <add key="LAST_SYNC_ARTICULO" value="LAST_SYNC_ARTICULO"/>
    <!--KEYS DACS-->

    <!--DACCoronaServices Configurations-->
    <add key="ServerName" value="http://localhost:56784"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5.1"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--Configuración de log4net-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="bin\Logs\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="150MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--Configuración NPS Vendor-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentServicePlatformBinding">
          <security mode="Transport"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://implementacion.nps.com.ar:443/ws.php" binding="basicHttpBinding" bindingConfiguration="PaymentServicePlatformBinding" contract="NpsService.PaymentServicePlatformPortType" name="PaymentServicePlatformPort"></endpoint>
    </client>
  </system.serviceModel>

  <!--Configuración de cuenta de mail-->
  <system.net>
    <mailSettings>
      <smtp from="gabitopruebas@gmail.com">
        <network host="smtp.gmail.com"
                 port="587" 
                 userName="gabitopruebas@gmail.com"
                 password="kacsogysdowxersd"
                 enableSsl="true"
                 defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>